    <!-- Contact -->
    <section id="contact">
      <div class="container">
        <div class="row">
          <div class="col-md-12 text-white">
            <div class="row">
              <div class=" offset-md-2 col-md-4">
                <div class="text" style="text-align:center;">
                    <p>
                      <b>Registered Address:</b><br>
                      Orteliusstraat 151<br>
                      1057 AX, Amsterdam<br>
                      The Netherlands<br>
                      <br>
                      <b>Visiting Address:</b><br>
                      Kruisweg 649<br>
                      2132 NC, Hoofddorp<br>
                      The Netherlands<br>
                      <br>
                      </p>
                </div>
              </div>
              <div class="col-md-4">
                <div class="text" style="text-align:center;">
                    <p>
                      <b>Contact:</b><br>
                      TEL : +31 20 681 5744<br>
                      <br>
                      <b>Bank Details:</b><br>
                      Bank : RABO BANK: 1408.677.59<br>
                      IBAN : NL95RABO0140867759<br>
                      SWIFT- BIC: RABONL2U<br>
                      <br>
                      <b>Chamber of Commerce &amp; VAT:</b><br>
                      Stern Telecom B.V<br>
                      Kvk: 50437313 te Amsterdam<br>
                      VAT: NL822745355.B01<br>
                      <br>
                    </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- Footer -->
    <footer class="bg-secondary">
      <div class="container">
        <div class="row">
          <div class="col-md-4">
            <span class="copyright">Copyright &copy; Sterntelecom 2019</span>
          </div>
          <div class="offset-md-4">

          </div>
          <div class="col-md-4">
            <ul class="list-inline quicklinks">
              <li class="list-inline-item">
                <!-- <a href="#">Privacy Policy</a> -->
              </li>
              <li class="list-inline-item">
                <!-- <a href="#">Terms of Use</a> -->
              </li>
            </ul>
          </div>
        </div>
      </div>
    </footer>