<div class="bg-dark" id="spree-header">

  <header class="bg-secondary" id="header" data-hook>
 
    <div class="container">
      <div class="row">
        <figure id="logo" class="col-md-2 col-sm-3" data-hook>
          <%= logo %>
        </figure>
        <ul class="nav navbar-nav navbar-right offset-md-2 col-md-8 col-sm-3 contant-info" data-hook>
          <li  data-hook><a>Monday -Friday: 09:00 - 18:00</a></li>
          <li  data-hook><a href="tel:(+31) 20 20 681 5744">(+31) 20 20 681 5744</a></li>
          <li  data-hook><a href="mailto:info@sterntelecom.com">info@sterntelecom.com</a></li>
        </ul>
      </div>
    </div>
  </header>
  <div class="container">
    <%= render partial: 'spree/shared/main_nav_bar' %>
  </div>
</div>
