<nav class="col-md-12  top-navbar ">
  <div class="navbar">
    <ul class="nav navbar-nav" data-hook>
     
    </ul>
    <ul class="nav navbar-nav navbar-right" data-hook>
      <li  data-hook><a>Monday -Friday: 09:00 - 18:00</a></li>
      <li  data-hook><a href="tel:(+31) 20 20 681 5744">(+31) 20 20 681 5744</a></li>
      <li  data-hook><a href="mailto:info@sterntelecom.com">info@sterntelecom.com</a></li>
    </ul>
  </div>
</nav>
