<% @body_id = 'about-page' %>
<script>
  var c = document.getElementById("contentContainer");
  c.style.maxWidth  = "100%";
  c.style.padding = "0";
</script>
    <section class="center-item" id="contact" style="background-image: url(<%= asset_path('map-image.png') %>)">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center">
            <h2 class="section-heading text-uppercase">Contact Us</h2>
            <h3 class="section-subheading text-muted">We happily answer all questions</h3>
          </div>
          <div class="row col-lg-12">
              <div class="col-lg-12 text-center">
                  <h2 class="section-heading text-uppercase"><a href="mailto:info@sterntelecom.com">info@sterntelecom.com</a></h2><br>
                  <h2 class="section-heading text-uppercase"><a href="tel:(+31) 20 20 681 5744">(+31) 20 20 681 5744</a></h2>
              </div>
          </div>
        </div>
      </div>
    </section>